<div class="row justify-content-center">
  <div class="col-12">
    <div class="form-login text-black">
    <h2>Sign up</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs text-black">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email", class: "text-black" }%>
        <%= f.input :pseudo,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "Pseudo", class: "text-black" }%>                
        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password", class: "text-black" } %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password", class: "text-black" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Sign up" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
