<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand" do %>
        <h1 class="title">UFCode</h1>
    <% end %>

    <% if action_name == "show" && controller_name == "games" && @game.user_games.find_by(user: current_user).step < 5 && @game.status == "started" %>
      <div id="timer" data-controller="timer"></div>
    <% else %>
      <div class="overflow-hidden">
        <div class="text-white d-flex" id="infinite-scroll-div">
          <% rank = 1 %>
          <% User.all.ranked.each do |user| %>
            <div class="d-flex align-items-center justify-content-center flex-nowrap mx-4" style="white-space: nowrap;"><%= rank %> - <%= user.pseudo %>(<%= user.computed_score %> pts)</div>
            <% rank += 1 %>
          <% end %>
        </div>
      </div>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
              <%= link_to "Leaderboard", leaderboard_path, class: "nav-link white-link me-2" %>
          </li>
          <li class="nav-item dropdown">
          <a href="#" class="avatar2" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= image_tag "fighter_avatar.png", class: "avatar2", alt: "dropdown menu" %>
          </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Profile", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>


<%# <script>
  let departMinutes = 0
  let temps = departMinutes * 60
  const timerElement = document.getElementById("timer")

  setInterval(() => {
    let minutes = parseInt(temps / 60, 10)
    let secondes = parseInt(temps % 60, 10)

    minutes = minutes < 10 ? "0" + minutes : minutes
    secondes = secondes < 10 ? "0" + secondes : secondes
    if (timerElement) {
      timerElement.innerText = `${minutes}:${secondes}`
      temps = temps + 1
    }

  }, 1000)
</script> %>
