<div class="container">
  <h2 style="font-family: 'Press Start 2P', cursive; margin-top: 140px; color: white;">Your Score</h2>
  <div class="d-flex align-items-center justify-content-center mt-5">
    <% game.users.each do |user| %>
      <% if user.user_games.find_by(game: game).step < 5 %>
        <div class="d-flex align-items-center flex-column p-3 m-3">
          <p>Still waiting on your opponent!</p>
        </div>
      <% else %>
        <% if user.ejected? %>
          <div class="d-flex flex-column align-items-center">
            <div class="d-flex align-items-center flex-column p-3 m-3">
              <div class="d-flex">
                <p class="mx-2"><%= user.pseudo %></p>
                  <div class="avatar-container">
                    <%= image_tag user.user_games.find_by(game: game).avatar, class: "avatar-small mb-3 ejected" %>
                  </div>
              </div>
              <h4><%= user.user_games.find_by(game: game).score %> / <%= 10 * 5 * @game.level.to_i %></h4>
            </div>
            <div class="left-gif2-container">
              <%= image_tag asset_path("ryu-twist.gif"), alt: "Eject GIF", class: "gif-score" %>
            </div>
          </div>
        <% else %>
          <div class="d-flex flex-column align-items-center">
            <div class="d-flex align-items-center flex-column p-3 m-3">
              <div class="d-flex">
                <p class="mx-2"><%= user.pseudo %></p>
                <div class="avatar-container">
                  <%= image_tag user.user_games.find_by(game: game).avatar, class: "avatar-small mb-3 winner" %>
                </div>
              </div>
              <h4><%= user.user_games.find_by(game: game).score %> / <%= 10 * 5 * @game.level.to_i %></h4>
            </div>
            <div class="right-gif2-container">
              <%= image_tag asset_path("ken-sfa-win.gif"), alt: "Winner GIF", class: "gif-score" %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>



<script>
  setTimeout(() => {
    console.log(document.querySelector('.ejected'))
    document.querySelector('.ejected').style.opacity = "0";
  }, 2000);
</script>
<%# <%= javascript_include_tag 'score-animation' %>
