<% if @games.empty? %>
  <h1 class="choose-language-title mb-4">No game to join yet !</h1>
  <%= link_to "Start Game", games_path(@game), data: { turbo_method: :post }, class: "button create-button mb-5" %>
<% else %>
  <h1 class="choose-language-title mb-4">Choose a game to join !</h1>
  <div class="d-flex flex-wrap justify-content-evenly align-items-center">
    <% @games.each do |game| %>
      <div class="bg-black p-4">
        <%= link_to avatar_game_path(game), class: "text-decoration-none" do %>
        <div class="d-flex">
          <%= game.name %>
          <% game.user_games.each do |user| %>
            <%= image_tag user.avatar, class: "avatar-small ms-2"%>
          <% end %>
        </div>
        <div class="d-flex align-items-end">
          <%= image_tag "#{game.language}.png", class: "language-avatar me-3" %>
          <p class="mb-0">Level : <%= game.level %></p>
        </div>
        <% end %>
      </div>
    <%end%>
  </div>
<% end %>
