<h1>Games#show</h1>
<p>Find me in app/views/games/show.html.erb</p>

<%# place the stimulus controller %>
<ul>
  <% @game.qcms.each do |question| %>
    <li>
      <%= question.question %>
      <%# place a data action on click on each question %>
      <div>
        <%= question.answer_one %>
      </div>
      <%# place a data action on click on each question %>
      <%= question.answer_two %>

      <%# place a data action on click on each question and a data attribute with correct true %>
      <%= question.answer_true %>
    </li>
  <% end %>
</ul>

<ul data-controller="swap">
  <% @game.qcms.each do |question| %>
    <li data-target="swap.question" class="question">
      <%= question.question %>
      <div class="answer-one">
        <%= question.answer_one %>
      </div>
      <div class="answer-two">
        <%= question.answer_two %>
      </div>
      <div class="answer-true" style="display: none;">
        <%= question.answer_true %>
      </div>
    </li>
  <% end %>
</ul>
