<div data-controller="game" data-game-game-id-value="<%= @game.id %>">
  <%= audio_tag "sound-fight.mp3", id: "game-start-audio" %>
  <% if @game.user_games.count < 2 %>
    <div class="opponent" data-controller="game" data-game-game-id-value="<%= @game.id %>">
      Waiting For Opponent
    </div>

    <%# <div class="ring">Loading
      <span class="wheel"></span>
    </div> %>

    <div class="loader">Searching...</div>


  <% else %>
    <div>
      <% if @game.user_games.find_by(user: current_user).step >= 5 %>
        <%= render "result", game: @game %>
      <% else %>
      <ul data-controller="swap" data-user-game="<%= @user_game.id %>">
        <%= render "question", qcm: @game.qcms[@game.user_games.find_by(user: current_user).step] %>
      </ul>
      <% end %>
    </div>
  <% end %>
</div>
