<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag %>
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <title>UFCode</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="banner" style="background-image: url(<%= asset_path('Background-UFCode.png') %>); height: 100vh; background-size: cover;">
      <div class="container">
        <%= render "shared/navbar" %>
        <%= render "shared/flashes" %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
